<!DOCTYPE HTML>
<html>
<head>
    <title>Contact List</title>
    <link rel="stylesheet" href="https:////netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.angularjs.org/1.6.0/angular.min.js"></script>
    <script src="lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.js"></script>
    <script src="controllers/app.js"></script>
    <script src="services/contactService.js"></script>
</head>
<body ng-app='contact'>
    <div id="container" ng-controller="contactController">
    <header>
        <h2 class="mainHeader">Contact Search App</h2>    
    </header>
    <main>
        <toaster-container></toaster-container>
        <button ng-click=add()>Add a Contact</button>
        <button ng-click=fetchContact()>View Contacts</button>
            <div ng-if="viewClicked">
            <div class="col-md-4 col-sm-4 col-xs-4 viewHeader">Name</div>
            <div class="col-md-3 col-sm-3 col-xs-3 viewHeader">Contact</div>
            <div class="col-md-4 col-sm-4 col-xs-4 viewHeader">Mail</div>
            <div class="col-md-1 col-sm-1 col-xs-1 viewHeader"></div>
            <br>
            <div ng-if ="displayContact" ng-repeat = "list in displayList">
            <div class="col-md-4 col-sm-4 col-xs-4 viewHeader">{{list.firstName+" "+list.middleName+" "+list.lastName}}</div>
            <div class="col-md-3 col-sm-3 col-xs-3 viewHeader">{{list.contactNumber}}</div>
            <div class="col-md-4 col-sm-4 col-xs-4 viewHeader">{{list.contactEmail}}</div>
            <div class="col-md-1 col-sm-1 col-xs-1 editIcon" ng-click="editContact(list)"></div>
            <br>
            </div>
        </div>
    </main>
    </div>
</body> 
</html>